:root {
    /* roots for header */
    --yell: rgb(218, 179, 79)
}

/* margin and padding setting for the page*/
* {
    box-sizing:border-box;
    padding: 2px;
    margin: 2px;
}
/* styling fo the body including background colour*/
body {
    font-family:'Georgia', Times New Roman, serif;
    font-size: 16px;
    margin: 20px;
    padding: 10px;
    background-color:antiquewhite;
    color: rgb(113, 62, 18);
}
/* Main content of the CSS overall look */
main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
}

/* Header styling */
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: var(--yell); /* rgb(218, 179, 79);*/
    color: rgb(113, 62, 18);
    font-size: 24px;
}

/* Navigation bar to sit alongside the bottom of the header */
nav {
    display: inline flex;
    flex-wrap:wrap;
    float:right;
    font-family:'Georgia', Times, 'Times New Roman', serif;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
}

button {
    background-color: blanchedalmond;
    border-radius: 5px;
    border-style: none;
    color: rgb(113, 62, 18);
    padding: 10px;
    text-transform: capitalize;
    text-emphasis: bold;
    font-size: 20px;
    cursor: grab;
}

/* Aside should line up with each section e.g. About me lines up with bio section, My work lines up with portfolio images and Contact me lines up wiht contact info at the bottom of page. */
aside {
    position: static;
    padding-right: 10px;
    border: 10px;
    margin: 10px;
}

/* Content section displays the biography of developer */
/* I can't get the content section to sit on the right of the 'About Me' aside. */
content {
    position: absolute;
    text-align: justify;
    font-weight: 100;
    font-size: 16px;
}
/* Why Fleabox - make it look different to explain my choice of page name */
.why {
    font-size: 12px;
    color: cadetblue;
    position: relative;
}

/* Selectors for how the individual images and labels should be displayed in a grid */ 
.graphic {
    display: block flex;
    /*display: flex grid;*/
    flex-direction: row;
    flex-basis:auto 120px;
    height:content 900px;
    flex: 1 0 100px;
    padding: 10px;
    width: 300px;
    text-align:center after;
    border-style: solid;
    border-width: 10px;
    border-color: burlywood;
}

/* selectors for the pictures to be set so each one displays evenly within the grid */
.pic {
    width: 200%;
    min-width: 350px;
}

/* Footer to display content evenly along the bottom */
footer {
    font-display: block;
    text-align:center;
    font-weight: 200;
    justify-content: space-between;
    position: relative;
}