:root {
    /* roots for header */
    --yell: rgb(218, 179, 79)
}

/* margin and padding setting for the page*/
* {
    box-sizing:border-box;
    padding: 2px;
    margin: 2px;
}
/* styling fo the body including background colour*/
body {
    font-family:'Georgia', Times New Roman, serif;
    font-size: 16px;
    margin: 15px;
    padding: 5px;
    background-color:antiquewhite;
    color: rgb(113, 62, 18);
}
/* Main content of the CSS overall look */
main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
}

/* Header styling */
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 16px;
    background-color: var(--yell); /* rgb(218, 179, 79);*/
    color: rgb(113, 62, 18);
    font-size: 46px;
    text-align:justify;
}

/* Navigation bar to sit alongside the bottom of the header */
nav {
    display: inline flex;
    flex-wrap:wrap;
    font-family:'Georgia', Times, 'Times New Roman', serif;
    list-style: none;
}

/* Styling out the scroll links on navigation to make it look less like bullet points and more like buttons */
.ul-links {
    background-color: blanchedalmond;
    border-radius: 5px;
    border-style: none;
    color: rgb(113, 62, 18);
    padding: 20px;
    text-emphasis: bold;
    font-size: 20px;
    cursor: grab;
    list-style-type: none;
}

/* Aside should line up with each section e.g. About me lines up with bio section, My work lines up with portfolio images and Contact me lines up wiht contact info at the bottom of page. */
aside {
    display: flex;
}

/* Content section displays the biography of developer */
content {
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    font-weight: 100;
    font-size: 16px;
}
/* Why Fleabox? - make it look different to explain my choice of page name */
.why {
    font-size: 12px;
    color: cadetblue;
}

/* Selectors for how the individual images and labels should be displayed in a grid */ 
.graphic {
    display: flex;
    flex-direction: column;
    height: 300px;
    padding: 2px;
    width: 350px;
    text-align:center;
    border-style: solid;
    border-width: 5px;
    border-color: burlywood;
}

/* selectors for the pictures to be set so each one displays evenly within the grid */
.pic {
    width: 330px;
    height: 230px;
}

/* Mountain pic - different styling so it doesnt push the rest of the pictures out of their frames. */
.main-pic{
    width: 330px;
    height: 230px;

}

/* Footer to display content evenly along the bottom */
footer {
    font-display: block;
    text-align:center;
    font-weight: 200;
    justify-content: space-between;
    position: relative;
}